<footer class="site-footer">

 <div class="wrapper"></div>

  <!-- jQuery 1.8+ -->
  <script src="{{ site.baseurl }}/plugin/components/jQuery/jquery-1.11.3.min.js"></script>
  <!-- Media Boxes JS files -->
  <script src="{{ site.baseurl }}/plugin/components/Isotope/jquery.isotope.min.js"></script>
  <script src="{{ site.baseurl }}/plugin/components/imagesLoaded/jquery.imagesLoaded.min.js"></script>
  <script src="{{ site.baseurl }}/plugin/components/Transit/jquery.transit.min.js"></script>
  <script src="{{ site.baseurl }}/plugin/components/jQuery Easing/jquery.easing.js"></script>
  <script src="{{ site.baseurl }}/plugin/components/Waypoints/waypoints.min.js"></script>
  <script src="{{ site.baseurl }}/plugin/components/Modernizr/modernizr.custom.min.js"></script>
  <script src="{{ site.baseurl }}/plugin/components/Magnific Popup/jquery.magnific-popup.min.js"></script>
  <script src="{{ site.baseurl }}/plugin/components/Fancybox/jquery.fancybox.min.js"></script>
  <script src="{{ site.baseurl }}/plugin/js/jquery.mediaBoxes.dropdown.js"></script>
  <script src="{{ site.baseurl }}/plugin/js/jquery.mediaBoxes.js"></script>

</footer>
